.service-card {
  box-shadow: 0 2px 5px 0px var(--lightGrey);
  border-radius: 3px;
  background-color: white;
  padding: 0 10px;
  border: 1px solid var(--lightGrey);
  text-align: left;
  margin-bottom: 10px;
}

.service-card__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.service-card__spinner {
  margin: 10px 5px;
}

.service-card__header__icon {
  width: 25px;
  height: auto;
}
